.admin-choices-container {
	padding: 1em; 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center;

}

.choice-heading {
	padding-top: 2em; 
}

.admin-links {
	padding: 1em; 
	margin-top: 1em; 
}
.admin-links a {
	padding: 1em; 
}

