* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 8em;
}

#root {
  width: 100%
}
